@import "~normalize.css";
@import "fonts.css";

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.container {
    padding: 20px 40px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-image: url(../assets/icon-square-big.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}